.emptyState {
  text-align: center;
  padding: 12px 15px;
}

.icon {
  font-size: 3em;
  color: var(--secondary-text-color); // Use new theme variable
  opacity: 0.6;
  line-height: 1;
}

.emptyState p {
  margin-top: 15px;
  font-size: 1.1em;
  color: var(--secondary-text-color); // Use new theme variable
  font-weight: 500;
}