.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modalContent {
  background: var(--card-bg-default);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 400px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-light-color);

  h3 {
    margin: 0;
    font-size: 1.1em;
  }
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  cursor: pointer;
  padding: 0;
  line-height: 1;

  &:hover {
    color: var(--font-color);
  }
}

.modalBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 150px; // Gives the modal some body

  label {
    font-weight: 600;
    font-size: 0.9em;
    color: var(--form-label-color);
  }

  select {
    padding: 10px 15px;
    background-color: var(--card-bg-default);
    border: 1px solid var(--form-input-border-color);
    color: var(--form-input-field-color);
    border-radius: 4px;
    font-size: 1em;
  }
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--bg-secondary-color);
  border-top: 1px solid var(--border-light-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
  }

  .resetButton {
    background: none;
    color: var(--primary-color);
    &:hover {
      text-decoration: underline;
    }
  }

  .cancelButton {
    background: var(--card-bg-default);
    border: 1px solid var(--border-light-color);
    color: var(--font-color);
    margin-right: 10px;

    &:hover {
      background-color: var(--bg-secondary-color);
    }
  }
  
  .applyButton {
    background: var(--btn-primary-bg);
    color: var(--btn-primary-contrast);
    
    &:hover {
      background: var(--btn-primary-hover-bg);
    }
  }
}