.progressBarContainer {
  width: 100%;
  height: 20px;
  background-color: var(--bg-secondary-color); // Use new theme variable
  border-radius: 10px;
  overflow: hidden;
}

.progressBarFiller {
  height: 100%;
  background-color: var(--primary-color); // Use new theme variable
  border-radius: 10px;
  text-align: right;
  transition: width 0.4s ease-in-out; // Smooth animation
}

.progressText {
  padding: 0 10px;
  color: var(--btn-primary-contrast); // Use new theme variable
  font-size: 0.8em;
  line-height: 20px; // Vertically center the text
  font-weight: bold;
}