.searchWrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 12px;

  // Theme Variables
  background-color: var(--color-search-bg);
  border: 1px solid var(--color-search-border);

  .icon {
    color: var(--color-search-icon);
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .searchInput {
    padding: 10px 0;
    border: none;
    background: none;
    font-size: 1em;
    flex-grow: 1;
    color: var(--color-search-text);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-search-placeholder);
    }
  }
}