.searchWrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 12px;

  // Theme Variables
  background-color: var(--bg-secondary-color); // Use new theme variable
  border: 1px solid var(--form-input-border-color); // Use new theme variable

  .icon {
    color: var(--form-placeholder-text-color); // Use new theme variable
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .searchInput {
    padding: 10px 0;
    border: none;
    background: none;
    font-size: 1em;
    flex-grow: 1;
    color: var(--form-input-field-color); // Use new theme variable

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--form-placeholder-text-color); // Use new theme variable
    }
  }
}