.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  // Use new theme variables
  border: 4px solid var(--border-light-color); // Light gray track
  border-top-color: var(--primary-color); // Blue spinning part
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}