[data-theme="light"] {
  --bg-color: #fff;
  --dropdown-content-bg: #fff;
  --dropdown-content-border: #d0d7de;
  --bg-secondary-color: #f6f8fb;
  --primary-color: #0969da;
  --secondary-color: #59636e;
  --font-color: #424242;
  --font-color-danger: #cf222e;
  --font-color-success: #1a7f37;
  --heading-color: #292922;
  --border-light-color: #d0d7de;
  --border-heading-color: rgba(209, 217, 224, 0.7);
  --border-dark-color: #464646;
  --btn-border-light-color: #d0d7de;
  --active-text-color: #0969da;
  --left-nav-item-bg: #fafafa;
  --text-color-h: #333;
  --link-color-blue: #0969da;
  --notification-badge-color: #d4434c;
  --dark-overlay-05: rgba(255, 255, 255, 0.05);
  --dropdown-item-hover-bg: #0969da;
  --dropdown-item-hover-color: #ffffff;
  --dashboard-header-icon-bg-color: rgba(129, 139, 152, 0.122);
  --modal-border-color: transparent;
  --text-muted-color: #59636e;

  // form elements
  --form-input-border-color: #d0d7de;
  --form-focus-outline: rgba(29, 122, 253, 0.5);
  --file-upload-name-color: #495057;
  --form-label-color: #1f2328;
  --form-input-field-color: #1f2328;
  --form-placeholder-text-color: #59636e;

  // New text color variables
  --title-text-color: #333;
  --subtitle-text-color: #555;
  --paragraph-text-color: #4c4c4c;
  --secondary-text-color: #777;
  --disabled-text-color: #999;
  --font-dark-color: #333;

  // Button color variables
  --btn-primary-bg: #0d6efd;
  --btn-primary-border: #0d6efd;
  --btn-primary-hover-bg: #0b5ed7;
  --btn-primary-hover-border: #0a58ca;
  --btn-primary-hover-color: #fff;
  --btn-primary-contrast: #fff; // Added this

  //secondary
  --btn-hover-bg-color: rgb(145, 152, 161);
  --btn-secondary-color: #59636e;
  --btn-secondary-hover-color: #59636e;
  --btn-secondary-bg: #d0d7de;
  --btn-secondary-hover-bg: rgba(129, 139, 152, 0.102);
  --btn-secondary-border: #d1d9e0;
  --btn-secondary-hover-border: #d1d9e0;

  --btn-success-bg: #198754;
  --btn-success-border: #198754;
  --btn-success-hover-bg: #157347;
  --btn-success-hover-border: #146c43;
  --btn-danger-bg: #dc3545;
  --btn-danger-border: #dc3545;
  --btn-danger-hover-bg: #bb2d3b;
  --btn-danger-hover-border: #b02a37;
  --btn-focus-shadow-rgb: 49, 132, 253;

  --bg-yellow-100: #ffc107;

  --menu-icon-color: #59636e;
  --menu-font-color: #1f2328;
  --sidebar-menu-bg-color: #ffffff;
  --active-menu-bg-color: #f6f8fb;

  // card styles
  --card-bg-default: #ffffff;
  --card-border-color: #d1d9e0;
  --card-border-dashed: #d0d7de; // Added this

  // skeleton loader
  --skeleton-base-color: #ebebeb;
  --skeleton-shine-color: #f5f5f5;
}

[data-theme="dark"] {
  --bg-color: #0d1117;
  --dropdown-content-bg: #121212;
  --dropdown-content-border: #1d1d1d;
  --bg-secondary-color: #010409;
  --primary-color: #0969da;
  --secondary-color: #59636e;
  --font-color: #f0f6fc;
  --font-color-danger: #cf222e;
  --font-color-success: #1a7f37;
  --heading-color: #818cab;
  --border-light-color: #3d444d;
  --border-heading-color: rgba(61, 68, 77, 0.7);
  --border-dark-color: #ababab;
  --btn-border-light-color: #6c757d;
  --active-text-color: #0969da;
  --left-nav-item-bg: #42425d;
  --text-color-h: #f0f6fc;
  --link-color-blue: #0969da;
  --notification-badge-color: #d4434c;
  --dark-overlay-05: rgba(255, 255, 255, 0.05);
  --dropdown-item-hover-bg: #1d7afd;
  --dropdown-item-hover-color: #ffffff;
  --dashboard-header-icon-bg-color: rgba(129, 139, 152, 0.122);
  --modal-border-color: #3d444d;
  --text-muted-color: #9198a1;

  // form elements
  --form-input-border-color: #3d444d;
  --form-focus-outline: rgba(29, 122, 253, 0.5);
  --file-upload-name-color: #e1e1ff;
  --form-label-color: #f0f6fc;
  --form-input-field-color: #f0f6fc;
  --form-placeholder-text-color: #8c939c;

  // New text color variables
  --title-text-color: #e0e0e0;
  --subtitle-text-color: #b0b0b0;
  --paragraph-text-color: #d0d0d0;
  --secondary-text-color: #a0a0a0;
  --disabled-text-color: #808080;
  --font-dark-color: #333;

  // Button color variables
  // primary
  --btn-primary-bg: #0d6efd;
  --btn-primary-border: #0d6efd;
  --btn-primary-hover-bg: #0b5ed7;
  --btn-primary-hover-border: #0a58ca;
  --btn-primary-hover-color: #fff;
  --btn-primary-contrast: #fff; // Added this

  //secondary
  --btn-hover-bg-color: #1d222a;
  --btn-secondary-color: #9198a1;
  --btn-secondary-hover-color: #9198a1;
  --btn-secondary-bg: #6c757d;
  --btn-secondary-hover-bg: #1d222a;
  --btn-secondary-border: #3d444d;
  --btn-secondary-hover-border: #3d444d;

  --btn-success-bg: #198754;
  --btn-success-border: #198754;
  --btn-success-hover-bg: #157347;
  --btn-success-hover-border: #146c43;
  --btn-danger-bg: #dc3545;
  --btn-danger-border: #dc3545;
  --btn-danger-hover-bg: #bb2d3b;
  --btn-danger-hover-border: #b02a37;
  --btn-focus-shadow-rgb: 49, 132, 253;

  --bg-yellow-100: #ffc107;

  --menu-icon-color: #9198a1;
  --menu-font-color: #f0f6fc;
  --sidebar-menu-bg-color: #151b23;
  --active-menu-bg-color: #292f38;

  // card styles
  --card-bg-default: #151b23;
  --card-border-color: #3d444d;
  --card-border-dashed: #3d444d; // Added this
  
  // skeleton loader
  --skeleton-base-color: #1e1e24;
  --skeleton-shine-color: #2a2a38;
}