.emptyState {
  text-align: center;
  padding: 20px;
}

.icon {
  font-size: 3em;
  color: #adb5bd; // Soft gray for the icon
  line-height: 1;
}

.emptyState p {
  margin-top: 15px;
  font-size: 1.1em;
  color: #6c757d; // Medium gray for the text
  font-weight: 500;
}